<div class="game-chat box">

  <ul id="party-messages">
    <li>
      <div class="player-icon"><img src="https://api.adorable.io/avatars/40/12@adorable.png"></div>
      <div class="name-and-message">
        <span class="player-name">12</span> <span class="message">ffsdafasdfdf</span>
      </div>
    </li>
    <li>
      <div class="player-icon"><img src="https://api.adorable.io/avatars/40/abott@adorable.png"></div>
      <div class="name-and-message">
        <span class="player-name">AceDauntless</span> <span class="message">This is my message but it might be kinda long sometiems</span>
      </div>
    </li>
    <li>
      <div class="player-icon"><img src="https://api.adorable.io/avatars/40/ab3ott@adorable.png"></div>
      <div class="name-and-message">
        <span class="player-name">doctafaustus</span> <span class="message">Another message</span>
      </div>
    </li>
    <li>
      <div class="player-icon"><img src="https://api.adorable.io/avatars/40/hoeyjay@adorable.png"></div>
      <div class="name-and-message">
        <span class="player-name">JoeyJay</span> <span class="message">Another It's simple! When the host starts the game you will be presented with 20 multiple choice questions. You'll only have a few seconds to answer before the timer runs out so answer quickly! Be careful - all answers are final. You'll compete in groups of 4 and whoever scores the highest in your group wins!</span>
      </div>
    </li>
  </ul>

  <form class="chat-form">
    <div class="chat-player-icon">
      <img src="https://api.adorable.io/avatars/40/ab3ott@adorable.png">
    </div>
    <input type="text" id="chat-input" autocomplete="off" placeholder="Say something...">
  </form>
  
</div>