<header>

  <div id="burger-menu"></div>

  <img id="logo" src="../../src/images/logo.png">
  <div id="logo-text">Completely Absurd Trivia</div>

  <ul id="menu">
    <li id="mobile-menu-heading" data-tab-id="home">
      <a href="#home">
        <img class="mobile-logo" src="../../src/images/logo.png">
        <div class="mobile-logo-text">Completely Absurd Trivia</div>
      </a>
    </li>
    <li data-tab-id="home"><a href="#home">Home</a></li>
    <li data-tab-id="lobby"><a href="#lobby">Game Lobby</a></li>
    <li data-tab-id="leaderboard"><a href="#leaderboard">Leaderboard</a></li>
    <li data-tab-id="stats"><a href="#stats">Stats</a></li>
    <li data-tab-id="invite-friends"><a href="#invite-friends">Invite Friends</a></li>

    <li id="sign-in-register"><a href="#">Sign In / Register</a></li>
  </ul>

  
  
</header>