<section id="page-home">

  <div class="hero-container">
    <div class="hero-container-text">
      <h1>Live Trivia Gameshow</h1>
      <div class="hero-container-subtitle">
        Participate in live trivia games every Monday, Wednesday and Friday night at 8pm EST
      </div>
      <button id="alert-next-game">ALERT ME WHEN NEXT GAME BEGINS</button>
    </div>
  </div>

  <div class="countdown-container">
    <h2>Next Game Begins In</h2>
    <div id="countdown-clock"></div>
  </div>


</section>