<section id="page-home">

  <div class="mobile-hero"></div>
  <div class="hero-container">
    <div class="hero-container-text">
      <h1>Live Trivia Gameshow</h1>
      <div class="hero-container-subtitle">
        Participate in live trivia games every Monday, Wednesday and Friday night at 8pm EST
      </div>
      <button id="alert-next-game">ALERT ME WHEN NEXT GAME BEGINS</button>
    </div>
  </div>

  <div class="countdown-container">
    <h2>Next Game Starts In</h2>
    <div id="countdown-clock"></div>
    <div class="countdown-subtitle">
        Completely Absurd Trivia is played <span>LIVE</span>. Please wait
        until the next scheduled game launches!
    </div>
  </div>

  <div class="feature-container">
    <div class="feature-container-inner">
      <div class="sub-container">
          <div class="circle">
            <img src="../images/feature-host.png">
          </div>
          <h3 class="green-medium">Hosted By James DerPino</h3>
          <div class="feature-blurb">
            Join James DerPino as he attempts to entertain you through your nightly trivia rounds
          </div>
        </div>
    
        <div class="sub-container">
          <div class="circle">
            <img src="../images/feature-friends.png">
          </div>
          <h3 class="green-medium">Play With Friends</h3>
          <div class="feature-blurb">
            Trivia games are played in groups of 4. But don't worry if you have no friends - we'll match you!
          </div>
        </div>
    </div>
  </div>

  <div class="testimonials-container">
    <div class="testimonial">
      <div class="testimonial-image">
        <img src="../images/testimonial-woman.png">
      </div>
      <div class="testimonial-text-container">
        <div class="testimonial-text">
          <span class="quotes">“</span>I pretty much clear my schedule to make sure I can make the next game. I need this to live!!!<span class="quotes">”</span>
        </div>
        <div class="testimonial-author">
          @Hello_Beliz
        </div>
      </div>
    </div>

    <div class="testimonial">
        <div class="testimonial-image">
          <img src="../images/testimonial-man.png">
        </div>
        <div class="testimonial-text-container">
          <div class="testimonial-text">
            <span class="quotes">“</span>It's the highlight of my day. My mom called me downstairs for dinner... 20 games ago.<span class="quotes">”</span>
          </div>
          <div class="testimonial-author">
            @AceSteely
          </div>
        </div>
      </div>
  </div>

  <div class="demo-container">
    <h1>Learn How To Play</h1>
    <h3 class="demo-subtitle">
      It's simple! You'll be show a series of multiple choice questions. Pick the correct answer and get all the points!
    </h3>
    <div class="demo-container-inner">
      <div class="wrapper">
        <div id="demo-box">
          <div id="demo-question" class="panel">
            <div id="question-title"></div>
          </div>
          <div id="demo-answers">
            <div class="panel answer-btn answer-btn-left">
              <span id="question-a"></span>
            </div>
            <div class="panel answer-btn answer-btn-right">
              <span id="question-b"></span>
            </div>
            <div class="panel answer-btn answer-btn-left">
              <span id="question-c"></span>
            </div>
            <div class="panel answer-btn answer-btn-right">
              <span id="question-d"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pre-footer-container">
    <div class="home-wrapper">
      <a id="scroll-top" href="#body">
        <svg width="20" height="20" viewBox="0 0 1792 1792"><path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"/></svg>
      </a>
    </div>
  </div>


  <div class="footer-container">
    <div class="home-wrapper">
      <div id="footer-block">
        <ul id="footer-links">
            <li><a data-tab-id="home" href="#">Home</a></li>
            <li><a data-tab-id="leaderboard" href="#">Leaderboard</a></li>
            <li><a data-tab-id="stats" href="#">Stats</a></li>
            <li><a data-tab-id="invite-friends" href="#">Invite Friends</a></li>
        </ul>

        <div id="footer-extra">
          <div id="copyright"><span class="gray" id="footer-company">Copyright &copy; 2019</span> Completely Absurd Trivia</div>
          <div id="contact">contact@completelyabsurdtrivia.com</div>
          <div id="crafted" class="gray">Lovingly crafted with NodeJS<img src="../images/node.png"></div>
        </div>
      </div>
    </div>
  </div>

</section>