<section id="page-invite-friends">
  <div class="invite-friends-container box">
    <h2>Your Invite Link</h2>
    <img class="invite-image" src="../../src/images/network.png">
    <div class="invite-code-container">
      <div class="invite-code">https://g.co/fi/r/F919PM</div>
      <div class="invite-facebook invite-icon">
        <img src="../../src/images/invite-facebook.png">
      </div>
      <div class="invite-twitter invite-icon">
        <img src="../../src/images/invite-twitter.png">
      </div>
      <div class="invite-email invite-icon">
        <img src="../../src/images/invite-email.png">
      </div>
    </div>
    <div class="invite-info">When your friend signs up or logs in with this link they will be added to your friends list.</div>
  </div>
</section>