<section id="page-leaderboard">
  <div class="leaderboard box">
    <div id="leaderboard-header">
      <div class="leaderboard-title">Rank</div>
      <div class="leaderboard-title">Player</div>
      <div class="leaderboard-title">Wins</div>
      <div class="leaderboard-title">Games Played</div>
      <div class="leaderboard-title">Total Points</div>
    </div>

    <div id="leaderboard-header-mobile">
        <div class="leaderboard-title">R</div>
        <div class="leaderboard-title">Player</div>
        <div class="leaderboard-title">W</div>
        <div class="leaderboard-title">GP</div>
        <div class="leaderboard-title">TP</div>
      </div>

    <div class="leaderboard-row">
      <div class="lb-rank">1</div>
      <div class="lb-player-icon-and-name">
        <div class="lb-player-icon">
            <img src="https://api.adorable.io/avatars/40/doctafaustus@adorable.png">
        </div>
        <div class="lb-player-name">doctafaustus</div>
      </div>
      <div class="lb-wins">13</div>
      <div class="lb-games-played">27</div>
      <div class="lb-total-points">4565</div>
    </div>
  
    <div class="leaderboard-row">
      <div class="lb-rank">2</div>
      <div class="lb-player-icon-and-name">
        <div class="lb-player-icon">
            <img src="https://api.adorable.io/avatars/40/asdfa@adorable.png">
        </div>
        <div class="lb-player-name">AceDauntless</div>
      </div>
      <div class="lb-wins">9</div>
      <div class="lb-games-played">23</div>
      <div class="lb-total-points">3125</div>
    </div>
  </div>
</section>