<section id="page-profile">
  <div class="profile-container box">
    
    <div class="player-icon">
      <div class="profile-image-overlay">
        <div class="profile-image-overlay-text">
          <img class="camera-icon" src="../../src/images/camera.png">
          <div>Update Avatar</div>
          <input id="profile-image-upload-input" type="file" hidden>
        </div>
      </div>
      <img src="https://api.adorable.io/avatars/100/doctafausts@adorable.png">
    </div>
    <div class="player-name">
      <input id="player-name-input" type="text" value="player0001">
    </div>
    <div class="profile-save">Save</div>
    <div class="member-since">Member since <span id="member-since-value">9/18/18</span></div>
    <ul class="profile-list">
        <li class="games-played">
          <div class="profile-value">27</div>
          <div class="profile-title">Games Played</div>
        </li>
        <li class="wins">
          <div class="profile-value">13</div>
          <div class="profile-title">Wins</div>
        </li>
        <li class="win-percentage">
          <div class="profile-value">55%</div>
          <div class="profile-title">Win Percentage</div>
        </li>
        <li class="total-points">
            <div class="profile-value">4565</div>
            <div class="profile-title">Total Points</div>
          </li>
      </ul>
  </div>
</section>