<div class="question-answer-wrapper box">
    <div class="question-counter">
      <span id="question-counter-current">1</span> / <span id="question-counter-total">20</span>
    </div>

    <img src="../../src/images/question-cat.png" id="question-cat">

    <h1 class="question-title">What is the closest planet to the Sun?</h1>

    <div class="answer-wrapper">
        <button id="answer-a" class="answer">Mars</button>
        <button id="answer-b" class="answer">Earth</button>
        <button id="answer-c" class="answer">Mercury</button>
        <button id="answer-d" class="answer">Venus</button>
    </div>
  </div>
