<section id="page-stats">
  <div class="stats-container box">
    
    <div class="player-icon">
        <img src="https://api.adorable.io/avatars/100/doctafausts@adorable.png">
    </div>
    <div class="player-name">doctafaustus</div>
    <div class="member-since">Member since <span id="member-since-value">9/18/18</span></div>
    <ul class="stats-list">
        <li class="games-played">
          <div class="stats-value">27</div>
          <div class="stats-title">Games Played</div>
        </li>
        <li class="wins">
          <div class="stats-value">13</div>
          <div class="stats-title">Wins</div>
        </li>
        <li class="win-percentage">
          <div class="stats-value">55%</div>
          <div class="stats-title">Win Percentage</div>
        </li>
        <li class="total-points">
            <div class="stats-value">4565</div>
            <div class="stats-title">Total Points</div>
          </li>
      </ul>
  </div>
</section>