.game-wrapper {
  margin: 20px auto;
  max-width: 1024px;
  padding: 0 15px;
  box-sizing: border-box;

  .party-scores {
    display: flex;
    justify-content: space-between;

    .party-score-container {
      width: 225px;
      background-color: white;
      border-radius: 2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);

      .party-score-top {
        border-bottom: solid 1px #dadada;
        background-color: #168bff;
        color: white;
        display: flex;
        align-items: center;
        padding: 4px 10px;

        .party-score-icon {
          margin-right: 10px;
          border-radius: 50%;
        }
      }

      .party-score-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .party-score-rank {
          background-color: #FF9800;
          border-radius: 50%;
          color: white;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
        }
      }
    }
  }

  .question-answer-wrapper {
    margin-top: 40px;
    padding: 60px;
    position: relative;

    .question-counter {
      color: #7e7d7d;
      position: absolute;
      top: 15px;
      right: 15px;
    }

    #question-cat {
      display: block;
      margin: 0 auto 40px auto;
      width: 75px;
    }

    .question-title {
      text-align: center;
      font-size: 34px;
      margin-bottom: 50px;
      font-family: 'Open Sans', Arial;
    }

    .answer-wrapper {
      text-align: center;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: 1fr;
      grid-gap: 16px;
      width: 550px;
      margin: 0 auto;

      .answer {
        outline: none;
        border: none;
        background-color: #6200ee;
        color: white;
        border-radius: 2px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        padding: 14px;
        font-size: 18px;
        font-family: 'Open Sans', Arial;
      }      
    }

    .answers-a-b {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .game-wrapper {
    .party-scores {
      .party-score-container {
        width: 25%;
        overflow: hidden;
        background-color: transparent;
        box-shadow: none;

        .party-score-top {
          background-color: transparent;
          border: none;
          display: block;
          text-align: center;

          .party-score-icon {
            width: 30px;
            margin-bottom: 3px;
            margin-right: 0;
          }

          .party-score-name {
            color: black;
            font-size:11px;
          }
        }

        .party-score-bottom {
          display: block;
          text-align: center;

          .party-score-rank {
            display: none;
          }

          .party-score-points {
            color: #6200ee;
            font-weight: bold;
          }
        }
      }
    }
  }

}