.game-wrapper {
  margin: 20px auto;
  max-width: 1024px;
  padding: 0 15px;
  box-sizing: border-box;

  .party-scores {
    display: flex;
    justify-content: space-between;

    .party-score-container {
      width: 225px;
      background-color: white;
      border-radius: 2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);

      .party-score-top {
        border-bottom: solid 1px #dadada;
        background-color: #168bff;
        color: white;
        display: flex;
        align-items: center;
        padding: 4px 10px;

        .party-score-icon {
          margin-right: 10px;
          border-radius: 50%;
        }
      }

      .party-score-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .party-score-rank {
          background-color: #FF9800;
          border-radius: 50%;
          color: white;
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
        }
      }
    }
  }

  .question-answer-wrapper {
    margin-top: 40px;
    padding: 60px;
    position: relative;

    .status-bar {
      color: #7e7d7d;
      position: absolute;
      top: 15px;
      left: 15px;
      font-style: italic;
    }

    .question-counter {
      color: #7e7d7d;
      position: absolute;
      top: 15px;
      right: 15px;
    }

    #question-cat {
      display: block;
      margin: 0 auto 40px auto;
      width: 75px;

      &.wiggle {
        animation-name: wiggle;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
      }
    }

    #countdown {
      display: none;
      position: relative;
      margin: auto;
      height: 40px;
      width: 40px;
      text-align: center;

      #countdown-number {
        color: white;
        display: inline-block;
        line-height: 40px;
        color: black;
      }

      svg {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        transform: rotateY(-180deg) rotateZ(-90deg);
  
        circle {
          stroke-dasharray: 113px;
          stroke-dashoffset: 0px;
          stroke-linecap: round;
          stroke-width: 2px;
          stroke: #6200ee;
          fill: none;
          animation: countdown 10s linear infinite forwards;
        }
      }
    }
    
    .question-title {
      text-align: center;
      font-size: 34px;
      line-height: 44px;
      margin-bottom: 50px;
      font-family: 'Open Sans', Arial;
    }

    .answer-wrapper {
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: 16px;
      width: 550px;
      margin: 0 auto;

      .answer {
        outline: none;
        border: none;
        background-color: #6200ee;
        color: white;
        border-radius: 2px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        padding: 14px;
        font-size: 18px;
        font-family: 'Open Sans', Arial;

        &:hover {
          background-color: #ff9800;
        }


      }      
    }

    .answers-a-b {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .game-wrapper {
    padding: 0;
    margin-top: 10px;

    .party-scores {
      .party-score-container {
        width: 25%;
        overflow: hidden;
        background-color: transparent;
        box-shadow: none;

        .party-score-top {
          background-color: transparent;
          border: none;
          display: block;
          text-align: center;

          .party-score-icon {
            width: 26px;
            margin-bottom: 3px;
            margin-right: 0;
          }

          .party-score-name {
            color: black;
            font-size:11px;
          }
        }

        .party-score-bottom {
          display: block;
          text-align: center;
          padding-top: 5px;
          padding-bottom: 0;

          .party-score-rank {
            display: none;
          }

          .party-score-points {
            color: #6200ee;
            font-weight: bold;
          }
        }
      }
    }

    .question-answer-wrapper {
      padding: 20px;
      margin-top: 10px;

      .status-bar,
      .question-counter {
        font-size: 12px;
      }
      
      #question-cat {
        margin-bottom: 20px;
        width: 50px;
      }

      .question-title {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
      }

      .answer-wrapper {
        width: 100%;

        .answer {
          font-size: 15px;
          padding: 12px 8px;
        }
      }
    }
  }
}



@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
