.invite-friends-container {
  width: 700px;
  margin: 40px auto;
  text-align: center;
  padding: 40px;

  h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 300;
  }

  .invite-image {
    margin-bottom: 30px;
    width: 250px;
  }

  .invite-code-container {
    display: flex;
    justify-content: space-between;
    width: 366px;
    margin: 0 auto 16px auto;

    > div {
      background-color: #f5f5f5;
      padding: 10px;
      border-radius: 3px;

      &.invite-code {
        border: dashed 0.5px black;
        color: #16af65;
        font-weight: 300;
        padding: 10px 18px;
        height: 18px;
        line-height: 18px;
      }

      &.invite-icon {
        height: 17px;
        width: 20px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
        cursor: pointer;
      }
    }
  }

  .invite-info {
    color: #757575;
    font-size: 13px;
  }
}