<!DOCTYPE html>
<html>
<head>
  <title>Game Area</title>
  <meta property="og:description" content="Completely Absurd Trivia (CAT) is a contest of wits, strategery, and itrigue. Actually, not really - it's just a really fun live trivia game! Play with your friends or compete against the horde for ultimate glory.">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  ${require('./partials/header-shorthand.html')}

  <div class="game-wrapper">

    <div class="party-scores">
      <div class="party-score-container">
        <div class="party-score-top">
            <img class="party-score-icon" src="https://api.adorable.io/avatars/40/fdafsadf@adorable.png">
            <div class="party-score-name">AceDauntless</div>
        </div>
        <div class="party-score-bottom">
          <div class="party-score-rank">1</div>
          <div class="party-score-points">5260</div>
        </div>
      </div>
      <div class="party-score-container">
        <div class="party-score-top">
            <img class="party-score-icon" src="https://api.adorable.io/avatars/40/434444444@adorable.png">
            <div class="party-score-name">Fastij</div>
        </div>
        <div class="party-score-bottom">
          <div class="party-score-rank">2</div>
          <div class="party-score-points">2345</div>
        </div>
      </div>
      <div class="party-score-container">
        <div class="party-score-top">
            <img class="party-score-icon" src="https://api.adorable.io/avatars/40/z234@adorable.png">
            <div class="party-score-name">JoeyJ234</div>
        </div>
        <div class="party-score-bottom">
          <div class="party-score-rank">3</div>
          <div class="party-score-points">1000</div>
        </div>
      </div>
      <div class="party-score-container">
        <div class="party-score-top">
            <img class="party-score-icon" src="https://api.adorable.io/avatars/40/5sdfas@adorable.png">
            <div class="party-score-name">Loverboi</div>
        </div>
        <div class="party-score-bottom">
          <div class="party-score-rank">4</div>
          <div class="party-score-points">450</div>
        </div>
      </div>
    </div>

    ${require('./partials/question-answer-container.html')}

  <script src="../src/js/jquery.js"></script>

</body>
</html>